/* Todos os elementos da pÃ¡xina */
*{
    font: 1em/1.3 Arial, Helvetica, sans-serif;
  }
  /* Todos os parÃ¡grafos da pÃ¡xina */
  p {
    color: #555;
  }
  
  /* Todos os parÃ¡grafos contidos en #primeiro */
   #primeiro p{
    color: #336699;
  }
  
  /* Todos os enlaces da pÃ¡xina */
  a {
    color: #cc3300;
  }
  /* Os elementos "em" contidos en #primeiro */
   #primeiro em{
    background: #ffffcc;
    padding: 0.1em;
  }
  /* Todos os elementos "em" da clase "especial" en toda a pÃ¡xina */
   .especial {
    background: #ffcc99;
    border: 1px solid #ff9900;
    padding: 0.1em;
  }
  
  /* Elementos "span" contidos en .normal */
   .normal span {
    font-weight: bold;
  }
  